rules_version = '2';
service firebase.storage {
	match /b/{bucket}/o {
		match /assets/{document=**} {
			allow read: if true;
		}

		match /users/{uid}/coverphotos/{document=**} {
			//Let other people see the cover photos for sharing purposes
			allow read: if true;
			allow update, delete: if request.auth.uid == uid;
			allow write: if request.auth.uid == uid 
				//24MB or less
				&& request.resource.size < 24 * 1024 * 1024
				//And it's an image
				&& request.resource.contentType.matches('image/.*');
		}
		match /users/{uid}/tempOCR/{document=**} {
			//Allow Functions and user access to OCR file
			allow read, write, update, delete: if true;
		}
		match /users/{uid}/recipes/{document=**} {
			allow read: if true;
			allow write, delete: if request.auth.uid == uid;
		}
	}
}
