:root {
    --ps-primary-color: #4a9653b8;
}

.btn {
    border-radius: 12%;
}

#appContent {
    height: 100vh;
}

.add-recipe-container {
    min-height: 75vh;
    display: flex;
}

.add-recipe-container>* {
    flex: 1;
}

.lottie-add-recipe-animation {
    width: 20rem !important;
    height: 20rem !important;
}

.mobile-lottie-bar {
    background-color: var(--ps-primary-color);
    border-radius: 12%;
}

.desktop-lottie-bar {
    justify-content: flex-end;
}

.desktop-lottie-bar>div.color-background {
    background-color: var(--ps-primary-color);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 320px;
    width: calc(100vw - 80vw);
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: 100% 100%;
}

.add-recipe-title {
    background-color: var(--ps-bg-color);
    border-radius: 8px;
    padding-top: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.add-recipe-accordion-item {
    margin-bottom: 0.25rem;
    background-color: inherit;
}

.add-recipe-accordion-button {
    background-color: #E9E3DB;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #3C4043!important;
    transition: border-radius 0.2s ease;
}

.add-recipe-accordion-item:first-of-type .add-recipe-accordion-button {
    border-top-left-radius: 24px !important;
    border-top-right-radius: 24px !important;
}

.add-recipe-accordion-item:last-of-type .add-recipe-accordion-button {
    border-bottom-left-radius: 24px !important;
    border-bottom-right-radius: 24px !important;
}

.add-recipe-accordion-item:last-of-type .add-recipe-accordion-button:not(.collapsed){
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}

.add-recipe-accordion-button:not(.collapsed) {
    color: inherit;
    background-color: #E9E3DB;
    box-shadow: none;
    border-bottom: none;
}

.add-recipe-accordion-button:focus {
    z-index: 3;
    border-color: inherit;
    outline: 0;
    box-shadow: none;
}

.add-recipe-accordion-body {
    background-color: #E9E3DB;
    padding-top: 0;
}

.add-recipe-accordion-item:last-of-type .add-recipe-accordion-body {
    border-bottom-left-radius: 24px !important;
    border-bottom-right-radius: 24px !important;
}

/* Mobile */
@media only screen and (max-width: 1199px) {
    .bottom-block {
        width: 100%;
    }
}

/* Tablet/desktop */
@media only screen and (min-width: 1200px) {
    .add-recipe-container {
        overflow-x: hidden;
        align-items: center;
    }

    .desktop-lottie-bar>lottie-player {
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
        margin: auto 0;
    }

    .bottom-block {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    .bottom-block>* {
        flex: 1;
    }
}