<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantry Prototype</title>
    <link rel="icon" type="image/png" href="favicon.png">
    <meta name="theme-color" content="#4A9653" />

    <!-- Custom font for fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="vendor/bootstrap5/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/quilljs/css/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="vendor/voerro-vue-tagsinput/vue-tags-input.css">
    <link rel="stylesheet" href="vendor/pintura/pintura.css">
    <link rel="stylesheet" href="css/prototype.css">
</head>

<body>
    <div id="appContent" class="container-fluid">
        <nav class="navbar navbar-expand container mt-3">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" style="justify-content: inherit;">
                    <button class="btn btn-lg py-1 pe-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-chevron-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                        </svg>
                    </button>
                    <img class="nav-logo" src="assets/pantry.svg">
                    <button class="btn btn-lg py-1 ps-0" style="visibility: hidden;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                            class="navbar-button-icon" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
        </nav>















        <div class="container-fluid add-recipe-container mt-4">
            <div class="row justify-content-between">
                <!-- Top animation for mobile -->
                <transition @enter="enterAddRecipeLottieAnimation" @leave="leaveAddRecipeLottieAnimation" mode="out-in">
                    <div class="d-xl-none d-flex align-items-center justify-content-center" v-if="showStep1">
                        <lottie-player v-if="showStep1" key="first" src="assets/animation/add-recipe-1.json"
                            class="lottie-add-recipe-animation mobile-lottie-bar" background="transparent" speed="1.5"
                            autoplay></lottie-player>
                        <!--lottie-player v-if="showStep2" key="second" src="assets/animation/add-recipe-2.json"
                                class="lottie-add-recipe-animation mobile-lottie-bar" background="transparent" speed="1.0" autoplay></lottie-player>
                            <lottie-player v-if="showStep3" key="third" src="assets/animation/add-recipe-3.json"
                                class="lottie-add-recipe-animation mobile-lottie-bar" background="transparent" speed="1.0" autoplay></lottie-player-->
                    </div>
                </transition>
                <!-- Left padding -->
                <div class="col-xl-1 d-none d-md-block"></div>
                <div class="col-xl-8 bottom-block">
                    <div class="row">
                        <transition-group @enter="enterAddRecipeContentAnimation"
                            @leave="leaveAddRecipeContentAnimation" v-bind:css="false" mode="out-in">
                            <div class="px-4" style="display: flex; flex-direction: column; align-items: flex-start;"
                                v-show="showStep1" key="first">
                                <h2 class="display-2 add-recipe-title">Add a new recipe</h2>
                                <div class="input-group has-validation">
                                    <input type="text" class="form-control" placeholder="Recipe name"
                                        v-model="addRecipe_recipeName" ref="addRecipe_recipeNameRef">
                                    <div class="invalid-tooltip">
                                        Please enter a valid recipe name
                                    </div>
                                </div>
                                <button role="button" class="btn btn-primary mt-4" style="align-self: flex-end;"
                                    @click="addRecipe_ToStepTwo">Next</button>
                            </div>
                            <div class="px-4" style="display: flex; flex-direction: column; align-items: flex-start;"
                                v-show="showStep2" key="second">
                                <h2 class="display-3 add-recipe-title">Describe your new recipe</h2>
                                <!-- Upload cover photo -->
                                <div class="mt-4 mb-3 w-100">
                                    <label for="coverPhotoInput" class="form-label">Cover photo</label>
                                    <input class="form-control" type="file" id="coverPhotoInput" ref="coverPhotoInput">
                                    <transition-group @enter="enterPinturaAnimation" @leave="leavePinturaAnimation"
                                        v-bind:css="false" mode="out-in">
                                        <div v-show="showPinturaCoverPhotoEditor" key="editorKey"
                                            class="pintura-editor my-3" ref="coverPhotoPinturaEditor"></div>
                                        <img v-show="showPinturaCoverPhotoThumbnail" key="thumbnailKey" src="" alt=""
                                            class="img-thumbnail rounded mx-auto my-3 coverPhotoPreview"
                                            ref="coverPhotoPinturaResult" />
                                    </transition-group>
                                </div>
                                <!-- Recipe description/notes -->
                                <div class="mb-3 w-100">
                                    <label for="descriptionInput" class="form-label">Description/Notes</label>
                                    <div id="addRecipeViewEditor" ref="addRecipeViewEditor"></div>
                                    <div class="invalid-feedback">
                                        Please enter a description
                                    </div>
                                </div>
                                <div class="mb-3 w-100">
                                    <label for="tagsInput" class="form-label">Tags</label>
                                    <tags-input element-id="tagsInput" v-model="addRecipe_recipeTags"
                                        :existing-tags="[]" :typeahead="false" ref="addRecipe_recipeTagsRef">
                                    </tags-input>
                                </div>
                                <div class="mb-3 w-100">
                                    <label class="form-label w-100">Time/Yield</label>
                                    <div class="input-group mb-3 w-100">
                                        <span class="input-group-text">Prep Time</span>
                                        <input type="number" class="form-control" v-model="addRecipe_recipePrepTime"
                                            ref="addRecipe_recipePrepTimeRef">
                                        <span class="input-group-text">min</span>
                                    </div>
                                    <div class="input-group mb-3 w-100">
                                        <span class="input-group-text">Cook Time</span>
                                        <input type="number" class="form-control" v-model="addRecipe_recipeCookTime"
                                            ref="addRecipe_recipeCookTimeRef">
                                        <span class="input-group-text">min</span>
                                    </div>
                                    <div class="input-group mb-3 w-100">
                                        <span class="input-group-text">Total Time</span>
                                        <input type="number" class="form-control" v-model="addRecipe_recipeTotalTime"
                                            ref="addRecipe_recipeTotalTimeRef">
                                        <span class="input-group-text">min</span>
                                        <div class="invalid-tooltip">
                                            Please enter a total time more than 0
                                        </div>
                                    </div>
                                    <div class="input-group mb-3 w-100">
                                        <span class="input-group-text">Yield</span>
                                        <input type="text" class="form-control" v-model="addRecipe_recipeYield"
                                            ref="addRecipe_recipeYieldRef">
                                        <div class="invalid-tooltip">
                                            Please enter a valid yield
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex w-100 justify-content-between mt-4 mb-5">
                                    <button role="button" class="btn btn-outline-primary"
                                        @click="addRecipe_ToStepOne">Back</button>
                                    <button role="button" class="btn btn-primary"
                                        @click="addRecipe_ToStepThree">Next</button>
                                </div>
                            </div>
                            <div style="display: flex; flex-direction: column; align-items: flex-start;"
                                v-show="showStep3" key="third">
                                <h2 class="display-3 add-recipe-title px-4">Finally, create your recipe</h2>
                                <div class="mt-4 mb-3 w-100">
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <div class="accordion-item add-recipe-accordion-item">
                                            <h2 class="accordion-header" id="flush-headingOne">
                                                <button class="accordion-button add-recipe-accordion-button"
                                                    type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                                    aria-controls="flush-collapseOne">
                                                    Ingredients
                                                </button>
                                            </h2>
                                            <div id="flush-collapseOne" class="accordion-collapse collapse show"
                                                aria-labelledby="flush-headingOne"
                                                data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body add-recipe-accordion-body">
                                                    <textarea class="form-control" placeholder="Enter ingredients here"
                                                        id="ingredientParseTextarea" style="height: 100px"
                                                        v-model="addRecipe_recipeIngredientsInput"></textarea>
                                                    <div class="d-flex justify-content-end mt-3">
                                                        <button v-show="showReplaceIngredientsButton" role="button"
                                                            class="btn btn-outline-success me-3"
                                                            @click="addRecipe_clickedReplaceIngredients">
                                                            Replace
                                                        </button>
                                                        <button role="button" class="btn btn-success"
                                                            @click="addRecipe_clickedAddIngredients">
                                                            Add
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item add-recipe-accordion-item">
                                            <h2 class="accordion-header" id="flush-headingTwo">
                                                <button class="accordion-button add-recipe-accordion-button collapsed"
                                                    type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                                    aria-controls="flush-collapseTwo">
                                                    Steps
                                                </button>
                                            </h2>
                                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingTwo"
                                                data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body add-recipe-accordion-body">
                                                    <textarea class="form-control" placeholder="Enter steps here"
                                                        id="stepParseTextarea" style="height: 100px"
                                                        v-model="addRecipe_recipeStepsInput"></textarea>
                                                    <div class="d-flex justify-content-end mt-3">
                                                        <button v-show="showReplaceStepsButton" role="button"
                                                            class="btn btn-outline-success me-3"
                                                            @click="addRecipe_clickedReplaceSteps">
                                                            Replace
                                                        </button>
                                                        <button role="button" class="btn btn-success"
                                                            @click="addRecipe_clickedAddSteps">
                                                            Add
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="addrecipe-preview-container collapse mb-3 w-100" ref="addRecipePreviewCollapsable">
                                    <h6 class="addrecipe-preview-title" v-show="showReplaceIngredientsButton">Ingredients</h6>
                                    <div v-if="recipeIngredientBreakdown.length">
                                        <draggable-list-group :lock-axis="'y'" :press-delay.number=100
                                            v-model="recipeIngredientBreakdown">
                                            <addrecipeview-ingredient-draggable-item
                                                v-for="(ingredient, index) in recipeIngredientBreakdown"
                                                :index="index"
                                                :key="index"
                                                :ingredient="ingredient"
                                                :amount="ingredient.amount"
                                                :value="ingredient.value"
                                                @touchstart.native="scrollStop"
                                                @touchend.native="scrollMove" />
                                        </draggable-list-group>
                                    </div>
                                    <h6 class="addrecipe-preview-title mt-4" v-show="showReplaceStepsButton">Steps</h6>
                                    <div v-if="recipeStepBreakdown.length">
                                        <draggable-list-group :lock-axis="'y'" :press-delay.number=100
                                            v-model="recipeStepBreakdown">
                                            <addrecipeview-step-draggable-item
                                                v-for="(step, index) in recipeStepBreakdown"
                                                :index="index"
                                                :key="index"
                                                :step="step"
                                                :step="step.value"
                                                @touchstart.native="scrollStop"
                                                @touchend.native="scrollMove" />
                                        </draggable-list-group>
                                    </div>
                                </div>
                                <div class="d-flex w-100 justify-content-between px-4 mt-4 mb-5">
                                    <button role="button" class="btn btn-outline-primary"
                                        @click="addRecipe_ToStepTwo">Back</button>
                                    <button role="button" class="btn btn-success"
                                        @click="clickedFinishAddRecipe">Finish</button>
                                </div>
                            </div>
                            <div style="display: flex; flex-direction: column; align-items: flex-start;"
                                v-show="showStep4" key="fourth">
                                <transition @enter="enterFinishedAddRecipeUploadTextAnimation"
                                    @leave="leaveFinishedAddRecipeUploadTextAnimation" mode="out-in" appear>
                                    <h2 class="display-3 add-recipe-title px-4" v-if="addRecipe_isUploading" key="one">
                                        Finalizing your recipe</h2>
                                    <h2 class="display-3 add-recipe-title px-4" v-if="addRecipe_isFinishedUploading"
                                        key="two">Added your recipe!</h2>
                                </transition>
                                <!-- Upload cover photo -->
                                <div class="my-4 w-100">
                                    <transition @enter="enterUploadRecipeLottieAnimation"
                                        @leave="leaveUploadRecipeLottieAnimation" mode="out-in" appear>
                                        <lottie-player key="1" src="assets/animation/bouncing-shapes-loader.json"
                                            class="lottie-add-recipe-animation" background="transparent" speed="1"
                                            autoplay loop v-if="addRecipe_isUploading">
                                        </lottie-player>
                                        <lottie-player key="2" src="assets/animation/confetti.json"
                                            class="lottie-add-recipe-animation" background="transparent" speed="0.5"
                                            autoplay v-if="addRecipe_isFinishedUploading">
                                        </lottie-player>
                                    </transition>
                                </div>
                            </div>
                        </transition-group>
                    </div>
                </div>
                <div class="col-xl-3 d-none d-xl-flex desktop-lottie-bar">
                    <div class="color-background"></div>
                    <transition @enter="enterAddRecipeLottieAnimation" @leave="leaveAddRecipeLottieAnimation"
                        mode="out-in">
                        <lottie-player v-if="showStep1" key="first" src="assets/animation/add-recipe-1.json"
                            class="lottie-add-recipe-animation" background="transparent" speed="1.5" autoplay>
                        </lottie-player>
                        <lottie-player v-if="showStep2" key="second" src="assets/animation/add-recipe-2.json"
                            class="lottie-add-recipe-animation" background="transparent" speed="1.0" autoplay>
                        </lottie-player>
                        <lottie-player v-if="showStep3" key="third" src="assets/animation/add-recipe-3.json"
                            class="lottie-add-recipe-animation" background="transparent" speed="0.5" autoplay>
                        </lottie-player>
                    </transition>
                </div>
            </div>
        </div>
    </div>
    <template id="draggable-list-group-template">
        <ul class="list-group list-group-flush">
            <slot />
        </ul>
    </template>
    <template id="addrecipeview-ingredient-draggable-item-template">
        <li class="list-group-item">
            <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-grip-vertical me-2" viewBox="0 0 16 16">
                    <path
                        d="M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
                <input class="form-control me-1" type="text" v-model="ingredient.amount">
                <input class="form-control ms-1" type="text" v-model="ingredient.value">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
                    class="bi bi-trash3 ms-3" viewBox="0 0 16 16">
                    <path
                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                </svg>
            </div>
        </li>
    </template>
    <template id="addrecipeview-step-draggable-item-template">
        <li class="list-group-item">
            <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-grip-vertical me-2" viewBox="0 0 16 16">
                    <path
                        d="M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
                <input class="form-control" type="text" v-model="step.value">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
                    class="bi bi-trash3 ms-3" viewBox="0 0 16 16">
                    <path
                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                </svg>
            </div>
        </li>
    </template>
    <!-- Core libraries -->
    <script src="vendor/bootstrap5/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <!-- Utilities -->
    <script src="vendor/underscore/underscore-umd-min.js"></script>
    <script src="vendor/uuidv4/uuidv4.min.js"></script>
    <!-- NLP dependency -->
    <script src="vendor/xregexp/xregexp-all.min.js"></script>
    <!-- Animation libraries -->
    <script src="vendor/animejs/lib/animejs-3.2.1.min.js"></script>
    <script src="vendor/lottie/lottie-player@1.5.7.min.js"></script>
    <!-- Functionality extension libs -->
    <script src="vendor/voerro-vue-tagsinput/vue-tags-input.js"></script>
    <script src="vendor/vue-slicksort/vue-slicksort.min.js"></script>
    <script>
        var {
            ContainerMixin,
            ElementMixin,
            HandleDirective
        } = window.VueSlicksort;
    </script>
    <script src="vendor/quilljs/js/quill.min.js"></script>
    <script src="vendor/T-vK/DynamicQuillTools.min.js"></script>
    <script type="module" src="vendor/pintura/pintura.js"></script>
    <script src="js/project-pastro-utils.js"></script>
    <script src="js/nlp.js"></script>
    <script type="module" src="js/prototype.js"></script>
</body>

</html>