:root {
    --ps-bg-color: #FFFCE8;
    --ps-primary-color: #4A9653;
    --ps-primary-rgb: 74, 132, 167;
    --ps-secondary-color: #58443a;
    --ps-light-color: #eff5dd;
    --ps-accent-color: #ffc34b;
    --ps-btn-background-color: #4A9653;
    --ps-btn-outline-color: #43894B;
    --ps-light-grey-color: #ededed;
    --ps-favorite-color: #f9058c;
    --font-size-1: 100%;
    --font-size-2: 117%;
    --font-size-3: 134%;
    --font-size-4: 150%;
}

body {
    background-color: var(--ps-bg-color) !important;
    font-family: 'Montserrat', sans-serif;
    color: var(--ps-secondary-color);
}

#appContent {
    overflow-x: hidden;
}

#appContent h1,
#appContent h2,
#appContent h3,
#appContent h4,
#appContent h5,
#appContent h6 {
    color: var(--ps-secondary-color);
}

.navbar-button {
    z-index: 1;
}

.navbar-button:focus {
    box-shadow: none;
}

.navbar-button-icon {
    height: calc(1.575rem + 1.5vw);
    width: calc(1.575rem + 1.5vw);
    max-width: 42px;
    max-height: 42px;
}

.form-check-input {
    width: 1.2em;
    height: 1.2em;
    margin-top: 0.15em;
    margin-right: 0.15rem;
}

.home-button {
    width: 100%;
    text-align: start;
}

.home-button:focus {
    outline: 0;
    box-shadow: none !important;
}

.home-button>.row {
    flex-wrap: nowrap;
}

.home-icon {
    width: fit-content;
    align-self: center;
}

.offcanvas {
    width: 100vw;
}

.toast-container {
    z-index: 9;
}

.toast {
    background-color: rgba(255, 255, 255, 1);
}

.disable-scroll {
    overflow-y: hidden;
}

.my-2rem {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.collapse-important {
    display: none !important;
}

.fancy-button {
    border-radius: 12px;
}

.margin-top-2 {
    margin-top: 2rem !important;
}

.button-no-outline:focus {
    box-shadow: none !important;
}

.strong {
    font-weight: 500;
}

.stronger {
    font-weight: 600;
}

.rounded-4 {
    border-radius: .5rem;
}

.rounded-5 {
    border-radius: .75rem;
}

.rounded-6 {
    border-radius: 1rem;
}

.modal-sheet .modal-dialog {
    width: 380px;
    transition: bottom .75s ease-in-out;
}

.modal-sheet .modal-footer {
    padding-bottom: 2rem;
}

.chip {
    border-radius: 24px;
    border: 2px solid #ffc34b;
    background-color: #ffc34b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .375rem .85rem;
    margin: 0.25rem;
    z-index: 1;
}

.chip-outline {
    border-radius: 24px;
    border: 2px solid #ffc34b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .375rem .85rem;
    margin: 0.25rem;
    z-index: 1;
}

.chip>img {
    width: 1.5rem;
    height: 1.5rem;
}

.chip>img.right-margin {
    margin-right: 0.5rem;
}

.chip>h5 {
    margin-bottom: 0;
}

.chip.border-dark {
    border-color: #e89b005c !important;
}

.btn-primary {
    color: #fff;
}

.btn-success,
.btn-success:hover {
    color: #ffffff;
    background-color: var(--ps-btn-background-color);
    border-color: var(--ps-btn-outline-color);
}

.btn-outline-success {
    color: var(--ps-btn-outline-color);
    border-color: var(--ps-btn-outline-color);
}

.btn-outline-success:active,
.btn-outline-success:hover,
.btn-outline-success:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--ps-btn-outline-color), 0.5);
}

.form-control:focus {
    border-color: var(--ps-primary-color);
    box-shadow: 0 0 0 .25rem rgba(var(--ps-primary-rgb), 0.25);
}

/* ==== Change Quill Styles ==== */

.ql-toolbar.ql-snow {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.ql-container {
    font-family: inherit;
    font-size: 1rem;
    height: auto !important;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background: #ffffff;
}

.ql-editor {
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition-property: border-color, box-shadow;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.ql-editor:focus {
    color: #212529;
    background-color: #fff;
    border-color: var(--ps-primary-color);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(var(--ps-primary-rgb), 0.25);
}

.ql-container.ql-snow.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    border-top: 1px solid #dc3545 !important;
    border-radius: .25rem;
}

/* ==== End Quill styles ==== */

.login-form {
    min-width: 90%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup-form {
    min-width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup-options-benefit-group {
    text-align: left;
}

.buy-subscription-button {
    border-color: rgb(26, 137, 23);
    padding: 16px;
    font-size: 1.25rem;
}

.loading-page {
    background-color: var(--ps-bg-color);
}



#headerText {
    font-size: calc(1.475rem + 1.5vw);
    font-weight: 500;
}

.top-nav-bar-pill-item>button {
    border-radius: 1.5rem !important;
    background-color: transparent !important;
    color: var(--ps-secondary-color);
    font-weight: bold;
    margin: 2px 0;
    border: 2px solid transparent !important;
}

.top-nav-bar-pill-item>button.active {
    border: 2px solid var(--ps-primary-color) !important;
    margin: 0;
    color: #ffffff !important;
    background-color: var(--ps-primary-color) !important;
}

#explorePane,
#recipePane {
    position: absolute;
    transition: transform 0.35s ease-in-out;
}

.explore-collapsed {
    transform: translateY(-100vh);
}

.recipe-collapsed {
    transform: translateY(100vh);
}

#explorePane>div>div,
#searchPane>div>div {
    background-color: var(--ps-light-color);
}

.explore-text>a {
    color: var(--ps-accent-color) !important;
    cursor: pointer;
    text-decoration: underline !important;
}

.recipe-list-group-item {
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: pointer;
}

.recipe-list-group-thumbnail {
    width: 48px;
    height: 48px;
    padding: 0;
}

.searchImgContainer {
    position: relative;
}

.search-box-button {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 0.175rem 0.1em 0.175rem;
    border: none;
    background-color: var(--ps-light-grey-color) !important;
    border-radius: 24px;
    box-shadow: none !important;
    font-size: calc(1.3rem + .4vw);
    width: 100%;
}

.search-box-input {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: var(--ps-light-grey-color) !important;
    border-radius: 24px;
    box-shadow: none !important;
    font-size: calc(1.3rem + .4vw);
    width: 85%;
}

.box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #afafaf;
    border-radius: 6px;
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    word-break: break-word;
    cursor: pointer;
}

.box:before {
    content: '';
    float: left;
    padding-top: 75%;
}

.filter-recipes-container * h5 {
    margin-bottom: 0;
}

.filter-recipes-container>div.row {
    margin-bottom: 0.5rem;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
}

.filter-recipes-container {
    display: none;
    opacity: 0;
}

.recipe-thumbnail-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#recipeRevealButton {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border: none;
    padding: 36px;
    display: flex;
    justify-content: center;
}

#recipeRevealButton:focus {
    box-shadow: none;
}

#addRecipeButton {
    width: 90%;
    border-radius: 12px;
}

.recipeView,
.addRecipeView,
.optionsView {
    display: none;
    opacity: 0;
}

.show-on-finished-viewstack {
    opacity: 0;
    transform: translateY(0.5rem);
    transition: opacity 0.25s ease-out, transform 0.25s ease-out;
}

.show-finished-viewstack {
    opacity: 1;
    transform: translateY(0);
}

.recipeView * .list-group-item {
    background-color: inherit;
    padding: 0.6rem 1rem;
}

.recipe-ingredient-list-item,
.recipe-step-list-item {
    cursor: pointer;
}

.recipeView * hr {
    opacity: 0.75;
    border: 1px solid var(--ps-secondary-color);
    border-radius: 2px;
    margin: 2.5rem 0;
}

.parallaxContainer {
    overflow: hidden;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    max-width: inherit;
}

.recipe-cover-photo {
    width: 100%;
    height: 24rem;
    object-fit: cover;
    will-change: transform;
}

.cookbook-list-group {
    padding-right: 0;
}

.cookbook-list-group>li {
    background-color: inherit;
}

.backdrop-front {
    z-index: 1;
    box-shadow: 2px -1px 10px rgb(0 0 0 / 20%);
    border-radius: 1em 1em 0 0;
    padding: 1em;
    background-color: white;
    bottom: 0;
    position: absolute;
    min-height: 42%;
}

.backdrop-subheader {
    margin-bottom: 1em;
    border-bottom: 1px solid #ccc;
    padding: 0.5em 0;
}

.offcanvas-full {
    border-top: none;
    background-clip: inherit;
    border: none;
}

.offcanvas-rounded-top {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.recipe-offcanvas,
.recipe-delete-offcanvas {
    width: 100vw;
    background-clip: inherit;
    border: none;
}

.manage-recipe-offcanvas-full {
    width: 100%;
}

.recipeview-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f8f9fa !important;
    z-index: 1200;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}

.recipe-close-button {
    padding-left: 0;
}

.recipe-close-img {
    width: 2.25em;
    height: 2.25em;
    opacity: .5;
}

.uppercase {
    text-transform: uppercase;
}

.heading {
    font-weight: 600;
    font-size: 1.5rem;
}

.subheading {
    letter-spacing: 0.15rem !important;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 1rem 0 !important;
    margin-bottom: 0 !important;
    margin-top: 0.5rem !important;
    align-items: center;
    justify-content: space-between;
}

.clickedShareAnimation-enter-active,
.clickedShareAnimation-leave-active,
.editRecipeTitleAnimation-enter-active,
.editRecipeTitleAnimation-leave-active,
.editRecipeDescriptionAnimation-enter-active,
.editRecipeDescriptionAnimation-leave-active,
.showButton-enter-active,
.showButton-leave-active {
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.clickedShareAnimation-enter,
.clickedShareAnimation-leave-to,
.editRecipeTitleAnimation-enter,
.editRecipeTitleAnimation-leave-to,
.editRecipeDescriptionAnimation-enter,
.editRecipeDescriptionAnimation-leave-to,
.showButton-enter,
.showButton-leave-to {
    opacity: 0;
    transform: translateY(-0.25rem);
}

span.ingredient-amount-badge {
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding: 0.35em;
    font-size: 85%;
    border-radius: 0.4rem;
    color: var(--ps-secondary-color);
    background-color: var(--ps-bg-color);
    border: 2px solid #ffaa00;
}

.strikeable-text {
    transition: color 0.15s ease-out;
}

.strike-list-item>span,
span.strike-list-item,
.strike-list-item>p {
    text-decoration: line-through;
    color: #ccc;
}

.strike-list-item>span.ingredient-amount-badge,
span.ingredient-amount-badge.strike-list-item {
    border: 2px solid #fd552340;
    text-decoration: line-through;
    color: #ccc;
}

.strike-list-item>img {
    opacity: 0.55;
}

.step-number-badge {
    padding: 0.25rem;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: var(--ps-bg-color);
    border: 2px solid var(--ps-accent-color);
    display: inline-block;
    font-weight: 900;
}

.recipeView * .accordion>.accordion-item {
    background-color: inherit;
}

.recipeView * .accordion>.accordion-item>.accordion-header>button {
    background-color: inherit;
}

/* Manage Recipe View */
.manage-recipe-input:focus {
    border-color: var(--ps-primary-color);
}

.manage-accordion-button:not(.collapsed) {
    color: var(--ps-primary-color) !important;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: inherit;
    box-shadow: none;
    opacity: 1 !important;
}

.manage-accordion-button::after,
.manage-accordion-button:not(.collapsed)::after {
    background-image: none;
    transform: none;
}

.manage-accordion-button {
    box-shadow: none;
    opacity: 0.75;
}

.manage-accordion-button:focus {
    box-shadow: none;
}

.manage-accordion-item {
    border: none;
    -webkit-box-shadow: inset 6px 0px 0px -1px var(--ps-accent-color);
    -moz-box-shadow: inset 6px 0px 0px -1px var(--ps-accent-color);
    box-shadow: inset 6px 0px 0px -1px var(--ps-accent-color);
    padding: 1rem 0;
}

.manage-accordion-item>h2>button {
    -webkit-box-shadow: inset 6px 0px 0px -1px var(--ps-accent-color);
    -moz-box-shadow: inset 6px 0px 0px -1px var(--ps-accent-color);
    box-shadow: inset 6px 0px 0px -1px var(--ps-accent-color);
}

.manage-accordion-flush .manage-accordion-item .manage-accordion-button {
    padding-top: 0rem;
}

.grabbable {
    cursor: grab;
}

.cropperImg {
    margin: auto;
    width: 66%;
}

.cropperImg>img {
    display: block;
    max-width: 100%;
}

.cropper-canvas,
.cropper-crop-box,
.cropper-drag-box,
.cropper-modal,
.cropper-wrap-box {
    border-radius: 4px;
}

.manage-recipe-blocks-pills-nav {
    justify-content: start;
    font-size: 1rem;
}

.manage-recipe-blocks-pills-tab {
    background-color: inherit !important;
    color: var(--ps-primary-color) !important;
    padding: calc(0.3rem + 2px) calc(0.6rem + 2px);
    border-color: transparent !important;
    border-radius: 0.45rem !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.manage-recipe-blocks-pills-tab.active {
    border: 2px solid;
    border-color: var(--ps-btn-outline-color) !important;
    background-color: var(--ps-bg-color) !important;
    padding: 0.3rem 0.6rem;
}

.steps-textarea-holder {
    position: relative;
}

.steps-textarea-holder>textarea {
    width: 100%;
    min-height: 10rem;
}

.recipe-block-more-info-button {
    padding: .25rem;
}

.recipe-block-more-info-button:focus {
    box-shadow: none !important;
}

.recipe-block-more-info-button>svg {
    align-self: center;
    transition: transform 0.2s ease-in-out;
}

.recipe-block-more-info-button:not(.collapsed)>svg {
    transform: rotate(90deg);
}

.undo-container {
    z-index: 1100;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    width: 92%;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--ps-secondary-color);
    color: #ffffff;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    transition: transform .25s ease;
}

.undo-container>button {
    color: var(--ps-accent-color);
}

.undo-collapsed {
    transform: translateY(150%);
}

.options-list-item {
    background-color: inherit;
    padding: 1rem;
}

.recipe-title {
    margin-left: 10%;
    margin-right: 10%;
    transform: translateY(-50%);
}

.heart-emoji {
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body.dark-theme,
body.dark-theme .recipe-title,
body.dark-theme .card-body,
body.dark-theme .accordion-item {
    color: #eeeeee !important;
    background: #2d333b !important;
}

body.dark-theme h1,
body.dark-theme h2,
body.dark-theme h3,
body.dark-theme h4,
body.dark-theme h5,
body.dark-theme h6,
body.dark-theme small,
body.dark-theme span,
body.dark-theme .display-1,
body.dark-theme .display-2,
body.dark-theme .display-3,
body.dark-theme .display-4,
body.dark-theme .display-5,
body.dark-theme .display-6,
body.dark-theme li,
body.dark-theme .btn {
    color: #eeeeee !important;
}

body.dark-theme a {
    color: #809fff;
}

body.dark-theme #searchBar,
body.dark-theme input[type=text],
body.dark-theme .form-check-input[type=checkbox],
body.dark-theme .ql-container,
body.dark-theme .ql-editor:focus,
body.dark-theme .form-floating>.form-control,
body.dark-theme textarea {
    background-color: #22272e !important;
    border: 1px solid #444c56;
    color: #ccc !important;
    box-shadow: none;
}

body.dark-theme #innerSearchButtonText {
    color: #eee !important;
}

body.dark-theme .search-box-input {
    background-color: #22272e !important;
    color: #ccc !important;
}

body.dark-theme .chip {
    background-color: #2d333b;
    border: 2px solid #ffc34b;
}

body.dark-theme .offcanvas {
    background-color: #2d333b !important;
}

body.dark-theme .recipeView * hr {
    border: 1px solid var(--ps-accent-color);
}

body.dark-theme .list-group-item {
    background-color: inherit;
    border-bottom: 1px solid rgba(127, 127, 127, 1)
}

body.dark-theme span.ingredient-amount-badge,
body.dark-theme .accordion-button {
    background-color: inherit;
}

body.dark-theme .ql-toolbar.ql-snow {
    background-color: #cccccc;
}

body.dark-theme .manage-recipe-blocks-pills-tab.active {
    background-color: inherit !important;
}

body.font-increase-1 {
    font-size: var(--font-size-1);
}

body.font-increase-2 {
    font-size: var(--font-size-2);
}

body.font-increase-3 {
    font-size: var(--font-size-3);
}

body.font-increase-4 {
    font-size: var(--font-size-4);
}


/* For desktops */
@media (min-width: 992px) {
    .login-form {
        min-width: 500px;
    }

    .signup-form {
        min-width: 500px;
    }

    .offcanvas {
        max-width: 50vw;
        max-height: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}