:root {
    --ps-bg-color: #FFFBE6;
    --ps-primary-color: #37966f;
    --ps-primary-rgb: 55, 150, 111;
    --ps-secondary-color: #356859;
    --ps-accent-color: #FD5523;
    --ps-favorite-color: #f9058c;
}

body {
    background-color: var(--ps-bg-color);
    font-family: 'Montserrat', sans-serif;
}

.btn-primary {
    color: #fff;
}

.form-control:focus {
    border-color: var(--ps-primary-color);
    box-shadow: 0 0 0 .25rem rgba(var(--ps-primary-rgb), 0.25);
}

/* ==== Change Quill Styles ==== */

.ql-toolbar.ql-snow {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.ql-container {
    font-family: inherit;
    font-size: 1rem;
    height: auto !important;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.ql-editor {
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition-property: border-color, box-shadow;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
    border-radius: 0.25rem;
    border: 1px solid #ffffff;
}

.ql-editor:focus {
    color: #212529;
    background-color: #fff;
    border-color: var(--ps-primary-color);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(var(--ps-primary-rgb), 0.25);
}

.ql-container.ql-snow.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    border-top: 1px solid #dc3545 !important;
    border-radius: .25rem;
}

/* ==== End Quill styles ==== */

.login-form {
    min-width: 90%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup-form {
    min-width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup-options-benefit-group {
    text-align: left;
}

.buy-subscription-button {
    border-color: rgb(26, 137, 23);
    padding: 16px;
    font-size: 1.25rem;
}

.loading-page {
    background-color: var(--ps-bg-color);
}

.main-wrap h1,
.main-wrap h2,
.main-wrap h3,
.main-wrap h4,
.main-wrap h5,
.main-wrap h6 {
    color: var(--ps-secondary-color);
}

.top-nav-bar-pill-item>button {
    border-radius: 1.5rem !important;
    background-color: transparent !important;
    color: var(--ps-secondary-color);
    font-weight: bold;
    margin: 2px 0;
    border: 2px solid transparent !important;
}

.top-nav-bar-pill-item>button.active {
    border: 2px solid var(--ps-primary-color) !important;
    margin: 0;
    color: #ffffff !important;
    background-color: var(--ps-primary-color) !important;
}

.explore-text>a {
    color: var(--ps-accent-color) !important;
    cursor: pointer;
}

#explore-pane-filter-offcanvas {
    max-height: 50%;
    height: auto;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.bottom-sheet-notch-container {
    padding-bottom: 8px;
}

.bottom-sheet-notch {
    display: block;
    width: calc(1.625rem + 4.5vw);
    height: 0.2rem;
    margin: 0 auto;
    cursor: pointer;
    background: rgba(0, 0, 0, .3);
}

.recipe-list-group-item {
    cursor: pointer;
}

.search-box {
    padding: 0 0.175rem 0.1em 0.175rem;
    border: none;
    border-bottom: 4px solid var(--ps-secondary-color);
    background-color: inherit !important;
    border-radius: 0;
    color: var(--ps-accent-color) !important;
    box-shadow: none !important;
    font-size: 7vw;
    line-height: 1;
    font-weight: 600;
    transition: border .15s ease-in-out;
}

.search-box:focus {
    border-bottom-color: var(--ps-primary-color);
}

.backdrop-front {
    z-index: 1;
    box-shadow: 2px -1px 10px rgb(0 0 0 / 20%);
    border-radius: 1em 1em 0 0;
    padding: 1em;
    background-color: white;
    bottom: 0;
    position: absolute;
    min-height: 42%;
}

.backdrop-subheader {
    margin-bottom: 1em;
    border-bottom: 1px solid #ccc;
    padding: 0.5em 0;
}

.offcanvas-full {
    height: 100vh;
    border-top: none;
    background-clip: inherit;
    border: none;
}

.offcanvas-header {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    justify-content: flex-start;
    box-shadow: 0 0.05rem 0.15rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}

.offcanvas-body {
    padding: 0;
}

.recipe-offcanvas,
.recipe-delete-offcanvas {
    width: 100vw;
    background-clip: inherit;
    border: none;
}

.recipe-delete-offcanvas {
    height: 100vh;
}

.recipe-delete-offcanvas-body {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
}

.delete-confirmation-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

.delete-confirmation-footer>* {
    margin: .25rem;
}

.recipeview-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f8f9fa !important;
    z-index: 1200;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}

.recipe-close-button {
    padding-left: 0;
}

.recipe-close-img {
    width: 2.25em;
    height: 2.25em;
    opacity: .5;
}

.recipe-cover-photo {
    margin-top: calc(1.5rem + 2em);
}

.uppercase {
    text-transform: uppercase;
}

.subheading {
    letter-spacing: 0.1rem;
    font-size: 0.975em;
    letter-spacing: 0.1rem;
    padding: 0.25rem 0 !important;
}

span.ingredient-amount-badge {
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding: 0.35em;
    font-size: 85%;
    border-radius: 0.4rem;
    color: var(--ps-secondary-color);
    background-color: var(--ps-bg-color);
    border: 2px solid var(--ps-accent-color);
}

span.ingredient-amount-badge,
label.strikeable {
    transition: all 0.20s ease-in-out;
}

.step-number-badge {
    padding: 0.25rem;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: var(--ps-bg-color);
    border: 2px solid var(--ps-accent-color);
    display: inline-block;
    font-weight: 900;
}

label.strikeable {
    margin-bottom: 0rem;
    display: contents;
}

input[type=checkbox]:checked+label.strikeable {
    text-decoration: line-through;
    color: #ccc;
}

input[type=checkbox]:checked+label.strikeable>span.ingredient-amount-badge,
input[type=checkbox]:checked+label.strikeable>span.step-number-badge {
    text-decoration: line-through;
    color: #ccc;
    border: 2px solid #fd552340;
}

/* Manage Recipe View */
.accordion-button:not(.collapsed) {
    color: var(--ps-primary-color)!important;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: inherit;
    box-shadow: none;
    opacity: 1!important;
}

.accordion-button::after, .accordion-button:not(.collapsed)::after {
    background-image: none;
    transform: none;
}

.accordion-button {
    box-shadow: none;
    color: #6c757d;
    opacity: 0.75;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-item {
    border: none;
    -webkit-box-shadow: inset 6px 0px 0px 0px var(--ps-accent-color);
    -moz-box-shadow: inset 6px 0px 0px 0px var(--ps-accent-color);
    box-shadow: inset 6px 0px 0px 0px var(--ps-accent-color);
    margin-bottom: 1.15rem;
}

.accordion-flush .accordion-item .accordion-button {
    padding-top: 0rem;
}

.manage-tag-list-group-item,
.manage-ingredients-list-group-item,
.manage-steps-list-group-item,
.manage-blocks-list-group-item {
    cursor: grab;
}

.cropperImg {
    margin: auto;
    width: 66%;
}

.cropperImg > img {
    display: block;
    max-width: 100%;
}

.cropper-canvas, .cropper-crop-box, .cropper-drag-box, .cropper-modal, .cropper-wrap-box {
    border-radius: 4px;
}

.center-empty-list {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    min-height: 3rem;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.options-list-item {
    background-color: inherit;
    padding: 1rem;
}

.recipe-title {
    margin-left: 10%;
    margin-right: 10%;
    transform: translateY(-50%);
}

.heart-emoji {
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* For desktops */
@media (min-width: 992px) {
    .login-form {
        min-width: 500px;
    }

    .signup-form {
        min-width: 500px;
    }

    .offcanvas-body {
        padding: 1rem 1rem;
    }
}