body {
    font-family: 'Montserrat', var(--bs-font-sans-serif) !important;
}

a {
    color: #0d6efd;
}

.logo,
.navbar-brand {
    width: auto;
    height: 2.5rem;
}

.price {
    font-family: var(--bs-font-sans-serif);
}