<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cookbook | Project Pastro</title>

    <!-- Custom font for fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- 3rd Party style sheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <link href="css/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Core app -->
    <link rel="stylesheet" href="css/app.css">
    <!-- PWA -->
    <link rel="manifest" href="../manifest.json" crossorigin="use-credentials">

    <!-- Prefetch some assets we will use later -->
    <link rel="prefetch" href="assets/icons/check.svg">
    <link rel="prefetch" href="assets/icons/edit.svg">
    <link rel="prefetch" href="assets/icons/lightning.svg">
    <link rel="prefetch" href="assets/icons/recipe-close.svg">
    <link rel="prefetch" href="assets/icons/trash.svg">
</head>

<body>
    <div id="login-container" style="visibility: hidden;">
        <sign-in-layout v-if="signin"></sign-in-layout>
        <purchase-subscription-layout v-if="paysubscription"></purchase-subscription-layout>
    </div>
    <div id="loading" class="loading-page">
        <div style="position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);">
            <!-- Used for greeting -->
            <div class="row">
                <h1 id="loading-text" class="text-muted"></h1>
            </div>
            <div class="row">
                <h2 id="loading-subtext"></h2>
            </div>
        </div>
    </div>
    <div id="appContent" class="container-fluid my-4 main-wrap" style="visibility: hidden;">
        <div id="navigationBar">
            <header class="d-flex pt-3 px-3">
                <ul class="nav nav-pills w-100 justify-content-between align-items-center" role="tablist">
                    <li class="nav-item top-nav-bar-pill-item">
                        <button id="pills-explore-tab" class="nav-link active" data-bs-toggle="pill"
                            data-bs-target="#explorePane" type="button" role="tab" aria-controls="explorePane"
                            aria-selected="true">Explore</button>
                    </li>
                    <li class="nav-item top-nav-bar-pill-item">
                        <button id="pills-search-tab" class="nav-link" data-bs-toggle="pill"
                            data-bs-target="#searchPane" type="button" role="tab" aria-controls="searchPane"
                            aria-selected="false">Search</button>
                    </li>
                    <li class="nav-item top-nav-bar-pill-item">
                        <button id="pills-options-tab" class="nav-link" data-bs-toggle="pill"
                            data-bs-target="#optionsPane" type="button" role="tab" aria-controls="optionsPane"
                            aria-selected="false">Options</button>
                    </li>
                </ul>
            </header>
        </div>
        <div class="tab-content">
            <div id="explorePane" class="row tab-pane fade show active" role="tabpanel"
                aria-labelledby="pills-explore-tab">
                <div class="px-4 py-4 my-5">
                    <h1 class="display-5 fw-bold explore-text">I feel like making <a
                            @click.prevent="toggleExplorePaneOffcanvas('tag')">{{ displayTags }}</a> food that <a
                            @click.prevent="toggleExplorePaneOffcanvas('time')">{{ displayTime }}</a>, contains <a
                            @click.prevent="toggleExplorePaneOffcanvas('ingredient')">{{ displayIngredients }}</a>, and
                        <a @click.prevent="toggleExplorePaneOffcanvas('nutrition')">{{ displayNutrition }}</a>
                    </h1>
                </div>
                <!-- Recipe Bottom Half -->
                <div class="backdrop-front w-100">
                    <div class="bottom-sheet-notch-container" ref="bottom-sheet-notch-container-1">
                        <div class="bottom-sheet-notch"></div>
                    </div>
                    <div class="backdrop-subheader">
                        <div class="row py-0 mb-1"
                            style="display: flex; justify-content: space-between; align-items: center;">
                            <h5 class="mb-0" style="width: auto;">Recipes</h5>
                            <button type="button" class="btn btn-outline-primary btn-sm mx-3 add-recipe-button"
                                style="width: auto;" v-on:click="clickedAddRecipe" data-ps-button-type="add"
                                data-disablescrolling="false" ref="refAddRecipeButton">Add Recipe</button>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" v-for="(recipe, $index) in filteredCookbook" :key="$index"
                            @click="toggleRecipeOffcanvas($index)">{{ recipe.title }}</li>
                    </ul>
                </div>
            </div>
            <div id="searchPane" class="row tab-pane fade" role="tabpanel" aria-labelledby="pills-search-tab">
                <div class="px-4 py-4 my-5">
                    <input type="text" class="form-control search-box" placeholder="Search"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search'" v-model="model_search">
                </div>
                <!-- Recipe Bottom Half -->
                <div class="backdrop-front w-100">
                    <div class="bottom-sheet-notch-container">
                        <div class="bottom-sheet-notch"></div>
                    </div>
                    <div class="backdrop-subheader">
                        <div class="row py-0 mb-1"
                            style="display: flex; justify-content: space-between; align-items: center;">
                            <h5 class="mb-0" style="width: auto;">Recipes</h5>
                            <button type="button" class="btn btn-outline-primary btn-sm mx-3 add-recipe-button"
                                style="width: auto;" v-on:click="clickedAddRecipe" data-ps-button-type="add"
                                data-disablescrolling="false">Add Recipe</button>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" v-for="(recipe, $index) in filteredCookbook" :key="$index"
                            @click="toggleRecipeOffcanvas($index)">{{ recipe.title }}</li>
                    </ul>
                </div>
            </div>
            <div id="optionsPane" class="row tab-pane fade" role="tabpanel" aria-labelledby="pills-options-tab">
                <ul class="list-group list-group-flush" style="padding: 0;">
                    <li class="list-group-item options-list-item">
                        <div class="fw-bold h5 mb-3">Font</div>
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" v-bind:class="{ active: !dyslexicFontClass }"
                                    @click="toggleFont">Montserrat</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" v-bind:class="{ active: dyslexicFontClass }"
                                    @click="toggleFont">OpenDyslexic</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item options-list-item">
                        <div class="fw-bold h5 mb-3">Stripe Payments</div>
                        <button class="btn btn-outline-primary" @click="stripeBillingPortal">Billing Portal</button>
                    </li>
                    <li class="list-group-item options-list-item">
                        <div class="fw-bold h5 mb-3">Account</div>
                        <button class="btn btn-outline-danger" @click="signOutApp">Sign Out</button>
                    </li>
                </ul>
                <div class="my-4 d-flex justify-content-center">Made with <span class="heart-emoji"
                        style="margin: 0em 0.25em;">❤</span> by <a href="https://alexbeschler.com" target="_blank"
                        rel="noopener noreferrer" style="margin: 0em 0.25em;">Alex Beschler</a></div>
            </div>
        </div>
        <!-- Explore pane offcanvas -->
        <div class="offcanvas offcanvas-bottom pb-5" tabindex="-1" id="explore-pane-filter-offcanvas"
            aria-labelledby="exploreOffcanvasLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="exploreOffcanvasLabel">Filter</h5>
                <button type="button" class="btn btn-outline-secondary btn-sm"
                    @click.prevent="clearFilters">Clear</button>
            </div>
            <div class="offcanvas-body px-3">
                <div v-if="explorePaneOffcanvasType === 'tag'">
                    <div v-for="(tag, $index) in tagsArray" :key="$index">
                        <input class="form-check-input" type="checkbox" value="" v-model="checkedTagsArray"
                            :value="tag">
                        <label class="form-check-label">
                            {{ tag }}
                        </label>
                    </div>
                </div>
                <div v-else-if="explorePaneOffcanvasType === 'time'">
                    <h4>Total recipe time</h4>
                    <div class="mb-3">
                        <!--label for="totalTimeInput" class="form-label">Total recipe time (in minutes)</label-->
                        <input type="number" class="form-control" id="totalTimeInput" v-model="totalRecipeTimeInput"
                            placeholder="i.e. 25">
                    </div>
                    <h4>Or pick a time to be finished by</h4>
                    <div class="form-floating mb-3">
                        <input type="time" class="form-control" id="totalTimeInput" placeholder="10"
                            v-model="finishByTimeInput">
                        <label for="totalTimeInput">Finish by</label>
                    </div>
                </div>
                <div v-else-if="explorePaneOffcanvasType === 'ingredient'">
                    <div v-for="(ingredient, $index) in ingredientsArray" :key="$index">
                        <input class="form-check-input" type="checkbox" value="" v-model="checkedIngredientsArray"
                            :value="ingredient">
                        <label class="form-check-label">
                            {{ ingredient }}
                        </label>
                    </div>
                </div>
                <div v-else-if="explorePaneOffcanvasType === 'nutrition'">
                    <div class="input-group my-3">
                        <label class="input-group-text">Calories</label>
                        <input type="number" class="form-control" v-model="nCalories">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Total Fat</label>
                        <input type="number" class="form-control" v-model="nFat">
                        <span class="input-group-text">g</span>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Cholesterol</label>
                        <input type="number" class="form-control" v-model="nCholesterol">
                        <span class="input-group-text">mg</span>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Sodium</label>
                        <input type="number" class="form-control" v-model="nSodium">
                        <span class="input-group-text">mg</span>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Carbohydrate</label>
                        <input type="number" class="form-control" v-model="nCarbohydrate">
                        <span class="input-group-text">g</span>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Fiber</label>
                        <input type="number" class="form-control" v-model="nFiber">
                        <span class="input-group-text">g</span>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Sugars</label>
                        <input type="number" class="form-control" v-model="nSugars">
                        <span class="input-group-text">g</span>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Protein</label>
                        <input type="number" class="form-control" v-model="nProtein">
                        <span class="input-group-text">g</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Full recipe view -->
        <div class="offcanvas offcanvas-end recipe-offcanvas" tabindex="-1" id="recipeOffcanvas" ref="recipeView">
            <div class="offcanvas-body">
                <button type="button" class="recipe-close-button text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close">
                    <img class="recipe-close-img" src="assets/icons/recipe-close.svg">
                </button>
                <img src="img/lily-banse--stock-photo.jpg" class="img-fluid">
                <div class="container py-0">
                    <div class="card d-flex align-items-center recipe-title shadow-sm">
                        <div class="card-body display-6">{{ proto_title }}</div>
                    </div>
                </div>
                <div class="container pt-0">
                    <div v-html="proto_description"></div>
                </div>
                <div class="container pb-1">
                    <div class="row">
                        <div class="col-6">
                            Active Time: <i>{{ proto_activetime }} minutes</i>
                        </div>
                        <div class="col-6">
                            Yields {{ proto_yield }}
                        </div>
                        <div class="col-12 d-flex justify-content-between">
                            <span>Prep Time</span>
                            <span><b>{{ proto_preptime }} minutes</b>
                                ({{ getTimeFromNowUsingMinutes(proto_preptime) }})</span>
                        </div>
                        <div class="col-12 d-flex justify-content-between">
                            <span>Cook Time</span>
                            <span><b>{{ proto_cooktime }} minutes</b>
                                ({{ getTimeFromNowUsingMinutes(proto_cooktime) }})</span>
                        </div>
                        <div class="col-12 d-flex justify-content-between">
                            <span>Total Time</span>
                            <span><b>{{ proto_totaltime }} minutes</b>
                                ({{ getTimeFromNowUsingMinutes(proto_totaltime) }})</span>
                        </div>
                    </div>
                </div>
                <div class="container py-0">
                    <hr>
                </div>
                <div class="container">
                    <div v-for="(block, blockIndex) in proto_blocks" :key="blockIndex">
                        <h5 class="card-title mb-3">{{ block.header }}</h5>
                        <ul class="nav nav-pills mb-3 justify-content-between" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="recipe-pills-ingredients-tab" data-bs-toggle="pill"
                                    data-bs-target="#recipe-ingredients" type="button" role="tab">Ingredients</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="recipe-pills-steps-tab" data-bs-toggle="pill"
                                    data-bs-target="#recipe-steps" type="button" role="tab">Steps</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="recipe-pills-nutrition-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-nutrition" type="button" role="tab">Nutrition</button>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="recipe-ingredients" role="tabpanel"
                                aria-labelledby="recipe-pills-ingredients-tab">
                                <ul class="list-group list-group-flush">
                                    <li v-for="(ingredient, ingredientIndex) in block.ingredients"
                                        :key="ingredientIndex" class="list-group-item">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <label class="strikeable">
                                            <span
                                                class="ingredient-amount-badge mx-2">{{ ingredient.amount }}</span>{{ ingredient.value }}
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="recipe-steps" role="tabpanel"
                                aria-labelledby="recipe-pills-steps-tab">
                                <ul class="list-group list-group-flush">
                                    <li v-for="(step, stepIndex) in block.steps" :key="stepIndex"
                                        class="list-group-item">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <label class="strikeable">
                                            <span
                                                class="ingredient-amount-badge mx-2">{{ stepIndex + 1 }}</span>{{ step.value }}
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="pills-nutrition" role="tabpanel"
                                aria-labelledby="recipe-pills-nutrition-tab">
                                <ul class="list-group list-group-flush mb-4">
                                    <li class="list-group-item">Calories: {{ block.nCalories }} g</li>
                                    <li class="list-group-item">Total Fat: {{ block.nFat }} g</li>
                                    <li class="list-group-item">Cholesterol: {{ block.nCholesterol }} mg</li>
                                    <li class="list-group-item">Sodium: {{ block.nSodium }} mg</li>
                                    <li class="list-group-item">Carbohydrate: {{ block.nCarbohydrate }} g</li>
                                    <li class="list-group-item">Fiber: {{ block.nFiber }} g</li>
                                    <li class="list-group-item">Sugar: {{ block.nSugars }} g</li>
                                    <li class="list-group-item">Protein: {{ block.nProtein }} g</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <hr>
                </div>
                <div class="container mt-0">
                    <button class="btn btn-outline-warning" @click="editRecipe">Edit</button>
                    <button class="btn btn-outline-danger" @click="deleteRecipe">Delete</button>
                </div>
            </div>
        </div>
        <!-- Delete recipe confirmation offcanvas -->
        <div class="offcanvas offcanvas-bottom recipe-delete-offcanvas" tabindex="-1" id="recipeDeleteOffcanvas"
            ref="recipeDeleteOffcanvas">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title">Delete confirmation</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body recipe-delete-offcanvas-body">
                <p>Are you sure you want to delete <i>{{ proto_title }}</i>?
                    <br><br>
                    This process is <b>irreversible</b> and the
                    recipe <b>cannot</b> be recovered.</p>
            </div>
            <div class="delete-confirmation-footer">
                <button type="button" class="btn btn-danger" @click="deleteRecipeHelper">Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Cancel</button>
            </div>
        </div>
        <!-- Manage recipe offcanvas -->
        <div class="offcanvas offcanvas-bottom offcanvas-full" tabindex="-1" id="manage-recipe-offcanvas"
            aria-labelledby="offcanvasBottomLabel" ref="manageRecipeView">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasBottomLabel">{{ manage_recipeTitle }}</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <v-app class="offcanvas-body small">
                <v-stepper non-linear>
                    <v-stepper-header>
                        <v-stepper-step step="1" editable>
                            OCR or Manual Entry
                        </v-stepper-step>

                        <v-divider></v-divider>

                        <v-stepper-step step="2" editable>
                            Recipe Info
                        </v-stepper-step>

                        <v-divider></v-divider>

                        <v-stepper-step step="3" editable>
                            Time/Yield
                        </v-stepper-step>

                        <v-divider></v-divider>

                        <v-stepper-step step="4" editable>
                            Blocks
                        </v-stepper-step>
                    </v-stepper-header>

                    <v-stepper-items>
                        <v-stepper-content step="1">
                            <div class="row">
                                <div class="col">
                                    <h6 class="display-5">Welcome Screen</h6>
                                    <h6 class="text-muted">Todo: Add OCR support here</h6>
                                </div>
                            </div>
                        </v-stepper-content>

                        <v-stepper-content step="2">
                            <form class="needs-validation" onsubmit="return false;" novalidate>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label for="manage_form_name" class="form-label">Recipe name</label>
                                        <input type="text" class="form-control" id="manage_form_name"
                                            v-model="manage_recipeName" required>
                                        <div class="invalid-feedback">
                                            Please enter a name
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label for="editor" class="form-label">Description</label>
                                        <div id="editor"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-10">
                                        <label for="manage_form_tags" class="form-label">Tags</label>
                                        <input type="text" class="form-control" id="manage_form_tags"
                                            v-model="manage_recipeTagInput" required>
                                    </div>
                                    <div class="col-lg-2 d-flex align-items-end">
                                        <button type="button" class="btn btn-outline-primary"
                                            @click="pushToTagArray">Add
                                            Tag</button>
                                        <button class="btn btn-primary mt-3" @click="pasteFromClipboard('tags')">Paste From Clipboard</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div v-if="manage_recipeTagHolder.length">
                                            <sortable-list :lock-axis="'y'" :press-delay.number=200
                                                v-model="manage_recipeTagHolder">
                                                <li class="list-group-item list-group-item-secondary">Added Tags</li>
                                                <sortable-item v-for="(tag, index) in manage_recipeTagHolder"
                                                    :index="index" :key="index" :tag="tag" :value="tag.value"
                                                    :edit-mode="tag.editMode"
                                                    :edit-mode-button-text="tag.editModeButtonText"
                                                    v-on:edit-tag="editTag(index)" v-on:delete-tag="deleteTag(index)"
                                                    @touchstart.native="scrollStop" @touchend.native="scrollMove" />
                                            </sortable-list>
                                        </div>
                                        <p class="center-empty-list" v-else>No tags added</p>
                                    </div>
                                </div>
                            </form>
                        </v-stepper-content>

                        <v-stepper-content step="3">
                            <form class="needs-validation" novalidate>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label for="manage_form_prep_time" class="form-label">Prep Time (in
                                            minutes)</label>
                                        <input type="number" class="form-control" id="manage_form_prep_time"
                                            v-model="manage_recipePrepTime" required>
                                        <div class="invalid-feedback">
                                            Please enter a preparation time
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="manage_form_cook_time" class="form-label">Cook Time (in
                                            minutes)</label>
                                        <input type="number" class="form-control" id="manage_form_cook_time"
                                            v-model="manage_recipeCookTime" required>
                                        <div class="invalid-feedback">
                                            Please enter a cook time
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="manage_form_total_time" class="form-label">Total Time (in
                                            minutes)</label>
                                        <input type="number" class="form-control" id="manage_form_total_time"
                                            v-model="manage_recipeTotalTime" required>
                                        <div class="invalid-feedback">
                                            Please enter a total time
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="time" class="form-label">Active Time (in
                                            minutes)</label>
                                        <div id="active-time-group" class="input-group mb-3">
                                            <input type="number" class="form-control" id="manage_form_active_time"
                                                v-model="manage_recipeActiveTime" required>
                                            <div class="invalid-feedback">
                                                Please enter an active time
                                            </div>
                                            <button class="btn btn-outline-primary" type="button"
                                                @click.prevent="autofillActiveTime" style="padding: 0.375rem;">
                                                <img src="assets/icons/lightning.svg">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="manage_form_yield" class="form-label">Yield</label>
                                        <input type="text" class="form-control" id="manage_form_yield"
                                            v-model="manage_recipeYield" placeholder="i.e. 2 servings" required>
                                        <div class="invalid-feedback">
                                            Please enter a yield
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </v-stepper-content>

                        <v-stepper-content step="4">
                            <div class="row">
                                <div class="col">
                                    <label for="manage_blockHeader">Recipe Block Name</label>
                                    <input id="manage_blockHeader" class="form-control" type="text"
                                        v-model="manage_recipeBlockHeader">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div v-if="manage_recipeBlockIngredients.length === 1">
                                        <h5>1 ingredient added</h5>
                                    </div>
                                    <div v-else-if="manage_recipeBlockIngredients.length > 1">
                                        <h5>{{ manage_recipeBlockIngredients.length }} ingredients added</h5>
                                    </div>
                                    <div v-else>
                                        <h5>Ingredients</h5>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <label for="manage_ing_amount">Amount</label>
                                    <input id="manage_ing_amount" class="form-control" type="text"
                                        placeholder="i.e. 1 tbps" v-model="manage_recipeBlockIngredientAmount">
                                </div>
                                <div class="col-lg-5">
                                    <label for="manage_ing_value">Ingredient</label>
                                    <input id="manage_ing_value" class="form-control" type="text"
                                        placeholder="i.e. butter" v-model="manage_recipeBlockIngredientValue">
                                    <div id="ingredient-invalid-feedback" class="invalid-feedback">
                                    </div>
                                </div>
                                <div class="col-lg-2 d-flex align-items-end">
                                    <button class="btn btn-outline-primary" @click="addIngredient">Add</button>
                                    <button class="btn btn-primary mt-3" @click="pasteFromClipboard('ingredients')">Paste From Clipboard</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div v-if="manage_recipeBlockIngredients.length">
                                        <ingredients-draggable-list :lock-axis="'y'" :press-delay.number=200
                                            v-model="manage_recipeBlockIngredients">
                                            <li class="list-group-item list-group-item-secondary">Added Ingredients</li>
                                            <ingredients-draggable-item
                                                v-for="(ingredient, index) in manage_recipeBlockIngredients"
                                                :index="index" :key="index" :ingredient="ingredient"
                                                :amount="ingredient.amount" :value="ingredient.value"
                                                :edit-mode="ingredient.editMode"
                                                :edit-mode-button-text="ingredient.editModeButtonText"
                                                v-on:edit-ingredient="editIngredient(index)"
                                                v-on:delete-ingredient="deleteIngredient(index)"
                                                @touchstart.native="scrollStop" @touchend.native="scrollMove">
                                            </ingredients-draggable-item>
                                        </ingredients-draggable-list>
                                    </div>
                                    <p class="center-empty-list" v-else>No ingredients yet!</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div v-if="manage_recipeBlockSteps.length === 1">
                                        <h5>1 step added</h5>
                                    </div>
                                    <div v-else-if="manage_recipeBlockSteps.length > 1">
                                        <h5>{{ manage_recipeBlockSteps.length }} steps added</h5>
                                    </div>
                                    <div v-else>
                                        <h5>Steps</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10">
                                    <label for="manage_step_value">Step {{ manage_recipeBlockSteps.length + 1}}</label>
                                    <textarea id="manage_step_value" class="form-control"
                                        v-model="manage_recipeBlockStepValue"></textarea>
                                    <div id="step-invalid-feedback" class="invalid-feedback">
                                    </div>
                                </div>
                                <div class="col-lg-2 d-flex align-items-end">
                                    <button class="btn btn-outline-primary" @click="addStep">Add</button>
                                    <button class="btn btn-primary mt-3" @click="pasteFromClipboard('steps')">Paste From Clipboard</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="list-group" v-if="manage_recipeBlockSteps.length">
                                        <steps-draggable-list :lock-axis="'y'" :press-delay.number=200
                                            v-model="manage_recipeBlockSteps">
                                            <li class="list-group-item list-group-item-secondary">Added Steps</li>
                                            <steps-draggable-item v-for="(step, index) in manage_recipeBlockSteps"
                                                :index="index" :key="index" :step="step" :value="step.value"
                                                :edit-mode="step.editMode"
                                                :edit-mode-button-text="step.editModeButtonText"
                                                v-on:edit-step="editStep(index)" v-on:delete-step="deleteStep(index)"
                                                @touchstart.native="scrollStop" @touchend.native="scrollMove">
                                            </steps-draggable-item>
                                        </steps-draggable-list>
                                    </div>
                                    <p class="center-empty-list" v-else>No steps yet!</p>
                                </div>
                            </div>
                            <div class="row mb-1"
                                style="display: flex; justify-content: space-between; align-items: center;">
                                <h5 class="mb-0" style="width: auto;">Nutritional Facts</h5>
                                <span class="text-muted" style="width: auto;">Optional</span>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>
                                        <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseBlockNutritionFacts" aria-expanded="false"
                                            aria-controls="collapseExample" style="width: 100%;"
                                            @click="toggleNutritionFacts">{{ nutritionFactsButtonExpandedText }}</button>
                                    </p>
                                    <div class="collapse" id="collapseBlockNutritionFacts">
                                        <div class="row">
                                            <div class="col-lg-3 input-group">
                                                <label class="input-group-text">Calories</label>
                                                <input type="number" class="form-control" v-model="manage_nCalories">
                                                <span class="input-group-text">g</span>
                                            </div>
                                            <div class="col-lg-3 input-group">
                                                <label class="input-group-text">Total Fat</label>
                                                <input type="number" class="form-control" v-model="manage_nFat">
                                                <span class="input-group-text">g</span>
                                            </div>
                                            <div class="col-lg-3 input-group">
                                                <label class="input-group-text">Cholesterol</label>
                                                <input type="number" class="form-control" v-model="manage_nCholesterol">
                                                <span class="input-group-text">mg</span>
                                            </div>
                                            <div class="col-lg-3 input-group">
                                                <label class="input-group-text">Sodium</label>
                                                <input type="number" class="form-control" v-model="manage_nSodium">
                                                <span class="input-group-text">mg</span>
                                            </div>
                                            <div class="col-lg-3 input-group">
                                                <label class="input-group-text">Carbohydrate</label>
                                                <input type="number" class="form-control"
                                                    v-model="manage_nCarbohydrate">
                                                <span class="input-group-text">g</span>
                                            </div>
                                            <div class="col-lg-3 input-group">
                                                <label class="input-group-text">Fiber</label>
                                                <input type="number" class="form-control" v-model="manage_nFiber">
                                                <span class="input-group-text">g</span>
                                            </div>
                                            <div class="col-lg-3 input-group">
                                                <label class="input-group-text">Sugars</label>
                                                <input type="number" class="form-control" v-model="manage_nSugars">
                                                <span class="input-group-text">g</span>
                                            </div>
                                            <div class="col-lg-3 input-group">
                                                <label class="input-group-text">Protein</label>
                                                <input type="number" class="form-control" v-model="manage_nProtein">
                                                <span class="input-group-text">g</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button class="btn btn-outline-primary" @click="addBlock">Add Block</button>
                                </div>
                                <div class="col-lg-12">
                                    <div class="list-group" v-if="manage_recipeBlocks.length">
                                        <blocks-draggable-list :lock-axis="'y'" :press-delay.number=200
                                            v-model="manage_recipeBlocks">
                                            <blocks-draggable-item class="list-group-item"
                                                v-for="(block, index) in manage_recipeBlocks" :key="index"
                                                :index="index" :block="block" :header="block.header"
                                                :ingredient="block.ingredient" :step="block.step"
                                                v-on:edit-block="editBlock(index)"
                                                v-on:delete-block="deleteBlock(index)" @touchstart.native="scrollStop"
                                                @touchend.native="scrollMove"></blocks-draggable-item>
                                        </blocks-draggable-list>
                                    </div>
                                    <p class="center-empty-list" v-else>No recipe blocks yet!</p>
                                </div>
                            </div>
                        </v-stepper-content>
                    </v-stepper-items>
                </v-stepper>
                <div class="row">
                    <div class="col-lg-12">
                        <v-divider></v-divider>
                    </div>
                    <div class="col-lg-12">
                        <button id="submitRecipeButton" type="button" class="btn btn-primary"
                            @click="submitManagedRecipe" style="width: 100%;"
                            :disabled="isRecipeSubmitDisabled">{{ manage_recipeTitle }}</button>
                    </div>
                </div>
            </v-app>
        </div>
    </div>
    <!-- Manage tags draggables -->
    <template id="tag-draggable-list-template">
        <ul class="list-group">
            <slot />
        </ul>
    </template>
    <template id="tag-draggable-item-template">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div v-if="!tag.editMode">
                {{ tag.value }}
            </div>
            <div v-else>
                <input class="form-control" type="text" v-model="tag.value">
            </div>
            <span>
                <button class="btn btn-outline-warning" @click="$emit('edit-tag', index)">
                    <img v-if="!tag.editMode" src="assets/icons/edit.svg">
                    <img v-else src="assets/icons/check.svg">
                </button>
                <button class="btn btn-outline-danger" @click="$emit('delete-tag', index)">
                    <img src="assets/icons/trash.svg">
                </button>
            </span>
        </li>
    </template>

    <!-- Manage ingredients draggables -->
    <template id="ingredients-draggable-list-template">
        <ul class="list-group">
            <slot />
        </ul>
    </template>
    <template id="ingredients-draggable-item-template">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div v-if="!ingredient.editMode">
                {{ ingredient.amount }} {{ ingredient.value }}
            </div>
            <div v-else>
                <input class="form-control" type="text" v-model="ingredient.amount">
                <input class="form-control" type="text" v-model="ingredient.value">
            </div>
            <span>
                <button class="btn btn-outline-warning" @click="$emit('edit-ingredient', index)">
                    <img v-if="!ingredient.editMode" src="assets/icons/edit.svg">
                    <img v-else src="assets/icons/check.svg">
                </button>
                <button class="btn btn-outline-danger" @click="$emit('delete-ingredient', index)">
                    <img src="assets/icons/trash.svg">
                </button>
            </span>
        </li>
    </template>

    <!-- Manage steps draggables -->
    <template id="steps-draggable-list-template">
        <ul class="list-group">
            <slot />
        </ul>
    </template>
    <template id="steps-draggable-item-template">
        <li class="list-group-item">
            <div class="mb-2" v-if="!step.editMode">
                {{ index + 1 }}: {{ step.value }}
            </div>
            <div class="mb-2" v-else>
                <textarea class="form-control" v-model="step.value"></textarea>
            </div>
            <span>
                <button class="btn btn-outline-warning" @click="$emit('edit-step', index)">
                    <img v-if="!step.editMode" src="assets/icons/edit.svg">
                    <img v-else src="assets/icons/check.svg">
                </button>
                <button class="btn btn-outline-danger" @click="$emit('delete-step', index)">
                    <img src="assets/icons/trash.svg">
                </button>
            </span>
        </li>
    </template>

    <!-- Manage blocks draggables -->
    <template id="blocks-draggable-list-template">
        <ul class="list-group">
            <slot />
        </ul>
    </template>
    <template id="blocks-draggable-item-template">
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-3" style="color: var(--ps-accent-color);">{{ block.header }}</h5>
            </div>
            <h6>Ingredients</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" v-for="(ingredient, j) in block.ingredients" :key="j">
                    {{ ingredient.amount }} {{ ingredient.value }}</li>
            </ul>
            <h6>Steps</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" v-for="(step, k) in block.steps" :key="k">{{ step.value }}</li>
            </ul>
            <button class="btn btn-outline-warning mb-2 mr-2" @click="$emit('edit-block', index)">Edit</button>
            <button class="btn btn-outline-danger mb-2" @click="$emit('delete-block', index)">Delete</button>
        </li>
    </template>

    <template id="sign-in-layout-template">
        <form class="login-form">
            <img class="mb-4" src="assets/logo/pastro.svg" alt="" width="72" height="57">
            <h2>Sign into Pastro</h2>

            <p>Sign in with your Google Account</p>
            <button id="sign-in-button" class="btn btn-success" role="button" @click.prevent="signIn">Sign
                In</button>
            <p class="mt-5 mb-3 text-muted">© 2021</p>
        </form>
    </template>

    <template id="purchase-subscription-layout-template">
        <form class="signup-form">
            <h2>Hi {{ firstname }},</h2>
            <p class="lead text-muted">Sign up below to get started. Cancel anytime.</p>
            <div class="card-body text-center">
                <div class="signup-options-benefit-group mx-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4 12.3916L4.72 11.6756L8.3 15.2396L16.879 6.65265L17.581 7.36965L8.3 16.6526L4 12.3916Z"
                            fill="#1A8917">
                        </path>
                    </svg>
                    No ads, forever
                    <br>
                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4 12.3916L4.72 11.6756L8.3 15.2396L16.879 6.65265L17.581 7.36965L8.3 16.6526L4 12.3916Z"
                            fill="#1A8917">
                        </path>
                    </svg>
                    Store unlimited recipes
                    <br>
                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4 12.3916L4.72 11.6756L8.3 15.2396L16.879 6.65265L17.581 7.36965L8.3 16.6526L4 12.3916Z"
                            fill="#1A8917">
                        </path>
                    </svg>
                    Payments fulfilled by Stripe
                    <br>
                </div>
                <button id="paySubscriptionButton" class="buy-subscription-button w-100 btn mt-4"
                    @click.prevent="paySubscription()">
                    $1<sup>.29</sup>
                    <small class="text-muted"> /mo</small>
                </button>
            </div>
            <h5 class="mt-5">Wrong account?</h5>
            <button role="button" class="btn btn-outline-success" @click.prevent="logOut">Sign Out</button>
            <p class="mt-5 mb-3 text-muted">© 2021</p>
        </form>
    </template>
    <!-- PWA Dependency -->
    <script>
        window.addEventListener("load", () => {
            if ("serviceWorker" in navigator) {
                navigator.serviceWorker.register("registerServiceWorker.js");
            }
        });
    </script>
    <!-- Core Dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Firebase -->
    <script src="/__/firebase/8.6.1/firebase-app.js"></script>
    <script src="/__/firebase/8.6.1/firebase-analytics.js"></script>
    <script src="/__/firebase/8.6.1/firebase-auth.js"></script>
    <script src="/__/firebase/8.6.1/firebase-firestore.js"></script>
    <script src="/__/firebase/8.6.1/firebase-storage.js"></script>
    <script src="/__/firebase/8.6.1/firebase-functions.js"></script>
    <script src="/__/firebase/init.js"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- 3rd Party Helpers -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.1.0/uuidv4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.4/dist/vuetify.min.js"></script>
    <script src="https://hammerjs.github.io/dist/hammer.js"></script>
    <script src="https://unpkg.com/vue-slicksort@latest/dist/vue-slicksort.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/nextapps-de/flexsearch@0.7.2/dist/flexsearch.bundle.js"></script>
    <script>
        var {
            ContainerMixin,
            ElementMixin,
            HandleDirective
        } = window.VueSlicksort;
    </script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <!-- Custom -->
    <script src="js/project-pastro-utils.js"></script>
    <script src="js/app.js"></script>
</body>

</html>